header {
    margin-bottom: 30px;
    .right-menu {
        .nav-item {
            &:not(:last-of-type) {
                margin-right: 17px;
            }
        }
    }
    .center-menu {
        .nav-item {
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }

        input, .input-group-text {
            background: #EDEDF0;
            border-radius: 99px;
            border: none;
        }
        p {
            font-size: 20px;
            line-height: 158%;
            letter-spacing: 0.0075em;
            color: #2264D1;
        }
    }
    .left-menu {
        .nav-item {
            &:not(:last-of-type) {
                margin-right: 21px;
            }
        }
        .btn-outline-primary {
            padding: 6px 12px;
            border: 1px solid #9DC2FF;
            border-radius: 4px;
            &.position-relative {
                box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
            }
        } 

    }
}