.login-content {
    // .bg-login {}
    h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #3F3F3F;
        margin-bottom: 82px;
        span {
         color: #6C63FF;
        }
    }
    .btn-submit {
        background: #6C63FF;
        border-radius: 65px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        width: 90%;
        height: 54px;
        border: none;
        border: 2px solid transparent;
        transition: all 0.5s;
        &:hover {
            color: rgba(0, 0, 0, 0.49);
            background: transparent;
            border: 2px solid rgba(0, 0, 0, 0.49);
        }
    }
    .login-with-google-btn {
        background: transparent;
        padding: 12px 70px;
        border: 2px solid rgba(0, 0, 0, 0.49);
        color: #7A7A7A;
        border-radius: 42px;
        transition: all 0.5s;
        &:hover {
            color: #FFFFFF;
            background: #6C63FF;
            border: 2px solid rgba(108, 99, 255, 0.69);
        }
        span {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
        
    }
    h2 {
        font: 33px sans-serif;
        margin-top: 30px;
        text-align: center;
    }
    
    h2.background {
        position: relative;
        z-index: 1;
        
        &:before {
            border-top: 2px solid rgba(0, 0, 0, 0.5);;
            content:"";
            margin: 0 auto; 
            position: absolute;
            top: 60%; left: 0; right: 0; bottom: 0;
            width: 95%;
            z-index: -1;
        }
    
        span { 
            color: rgba(63, 63, 63, 0.69);
            background-color: #fff;
            padding: 0 15px; 
            font-weight: 700;
            font-size: 20px;
            // line-height: 24px;

        }
    }
    
    form {
        div {
            &.text-start {
                margin-bottom: 37px; 
            }
            label {
                margin-left: 20px;
                font-weight: 700;
                font-size: 16px;
                color: #7A7A7A;
                &.form-label {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: rgba(108, 99, 255, 0.69);
                    margin: 0;
                    margin-left: 20px;
                }
                a {
                    margin-top: 5px;
                    color: rgba(108, 99, 255, 0.69); 
                }
            }
            input {
                border: 2px solid rgba(0, 0, 0, 0.49);
                border-radius: 42px;     
                height: 60px; 
                &:focus {
                    box-shadow:none
                }     
            }    
        }
    }
}